[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
mysqlclient = "*"

[dev-packages]
black = "*"
random-address = "*"
requests = "*"
names = "*"

[requires]
python_version = "3.10"

[scripts]
# app = "flask --app app run"
app = "python app.py"
generate_data = "python generate_data.py"
modify_data = "python modify_data.py"
touch_db = "sqlite3 students.sqlite3"
