{% extends 'base.html' %}

{% block content %}
<h4>Students (<a class="text-decoration-none" href="{{ url_for('new') }}">Add Student
   </a>)</h4>

<table class="table">
   <thead>
      <tr>
         <th>ID</th>
         <th>Name</th>
         <th>City</th>
         <th>Address</th>
         <th>Pin</th>
      </tr>
   </thead>

   <tbody>
      {% for student in students %}
      <tr>
         <td>{{ student.id }}</td>
         <td>{{ student.name }}</td>
         <td>{{ student.city }}</td>
         <td>{{ student.addr }}</td>
         <td>{{ student.pin }}</td>
      </tr>
      {% endfor %}
   </tbody>
</table>

<div class="p-3">
   <p>Total Rows: {{ count }}</p>
</div>
{% endblock %}